<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Team_ID">Team_ID</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="Team_ID" value="<%= model.Team_ID %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Name">Name</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="Name" value="<%= model.Name %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Img">Img</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="Img" value="<%= model.Img %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Tot_Exp">Tot_Exp</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="Tot_Exp" value="<%= model.Tot_Exp %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Types">Types</label>
  <div class="col-sm-8">
    <input readonly class="form-control" id="Types" value="<%= model.Types %>" />
  </div>
</div>